<div class="col-md-10"><h2><%= current_user.name %> <%= current_user.last_name %></h2>

  <ul class="nav nav-pills">
    <li role="presentation" class="enabled">
      <div><%= link_to 'Users', users_index_path%></div>
    </li>
    <li role="presentation" class="enabled" style="margin-left: 10px">
      <div><%= link_to 'Categories', categories_path%></div>
    </li>
  </ul>
</div>