<style type="text/css">
  .jumbotron{
    margin-top: 20px;
    background-image: url("https://ep01.epimg.net/verne/imagenes/2017/02/07/articulo/1486460356_768109_1486460432_noticia_normal.jpg");
    background-size: auto;
  }
</style>
<div class="container">
  <div class="jumbotron">
    <h1 style="color: white">Welcome to YoungBlood Funding!</h1>
    <p style="color: white">The startup company that you want!</p>
    <p style="color: white">Created by: Gianluca Fenzo and Gianluca Troncossi</p>
    <% if user_signed_in? %>
      <p><div class="btn btn-primary" style="margin-top: 5%"><strong><%= link_to "Start your campaign", new_project_path, {:style=>"color:#fff;"} %></strong></div></p>
    <% end %>
  </div>
</div>

<div class="row" >
  <div class="col-sd-7 col-md-4" style="margin-left: 300px">
    <a href="#" class="thumbnail" style="background-color: white">
      <img src="https://ep01.epimg.net/verne/imagenes/2017/02/07/articulo/1486460356_768109_1486460432_noticia_normal.jpg" alt="...">
      <h1 style="color: black">Most popular projects</h1>
    </a>
  </div>
  <div class="col-sd-6 col-md-4">
    <a href="#" class="thumbnail" style="background-color: white">
      <img src="https://ep01.epimg.net/verne/imagenes/2017/02/07/articulo/1486460356_768109_1486460432_noticia_normal.jpg" alt="...">
      <h1 style="color: black">Shop</h1>
    </a>
  </div>
</div>
<p></p>
<body>

</body>